html {
    --light-gray: rgb(229, 231, 233);
    --nav-height: 100px;
    --q-header-width: 200px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: 'Noto Serif', serif;
}